<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/index.css">
    <title>柚奶个人页面</title>
  </head>
  <body>
    <header class="clearFix">
      <div class="left">
        <div class="img"><img src="../images/guang.png" alt="" /></div>
        <div class="input-box">
          <input
            type="text"
            placeholder="大家都在搜：周末喝奶茶有活动吗"
          />
          <span class="search"></span>
        </div>
      </div>
      <div class="right">
        <ul class="nav clearFix">
          <li class="item">
            <img src="./images/first-page.png" alt="" />
            <span><a href="file:///C:/Users/kk/Desktop/view/view/first%20view/view.html">首页</a></span>
          </li>
          <li class="item">
            <img src="./images/find.png" alt="" />
            <span>发现</span>
          </li>
          <li class="item">
            <img src="./images/set.png" alt="" />
            <span>设置</span>
          </li>
        </ul>
        <ul class="regist-login">
          <li>注册</li>
          <li>|</li>
          <li>登录</li>
        </ul>
      </div>
    </header>
    <div class="container">
        <div class="banner">
          <div class="banner-top">
            
            <div class="main">
              <div class="head-icon"></div>
              <div class="personal-introduce">
                <span class="name">一只小柚子</span>
                <span class="sex-icon"></span>
              </div>
              <div class="uid">UID:3127816928</div>
              <div class="focus-messages">
                这里空空的，什么都没有
              </div>
            </div>
          </div>
          <div class="banner-bottom">
            <div class="inner">
              <div class="home-page">我的主页</div>
              <div class="photo-album">我的收藏</div>
            </div>
          </div>
        </div>
    
        <main>
          <div class="main-left">
            <ul class="counter">
              <li class="item">
                <div>
                  <div class="number">509</div>
                  <div class="text">浏览量</div>
                </div>
              </li>
    
              <li class="item">
                <div>
                  <div class="number">89</div>
                  <div class="text">收藏量</div>
                </div>
              </li>
    
              <li class="item">
                <div>
                  <div class="number">165</div>
                  <div class="text">购买量</div>
                </div>
              </li>
            </ul>

            <div class="person-info">
              <div class="verify-info">
                <div class="verify">
                  <span class="youzi"></span>
                  <span class="text">学生认证</span>
                </div>
                <div class="icons">
                  <span class="flag-icon"></span>
                  <span class="school-icon"></span>
                </div>
              </div>
        
              <div class="introduce">大一新生</div>
        
              <ul class="detail">
                <li class="item">南京邮电大学</li>
                <li class="item">学院|学号：人工智能 B27060701</li>
                <li class="item">
                  南邮官网地址：<a href="https://www.njupt.edu.cn/">南邮主页</a>
                </li>
                <li class="item">偏好 <a href="">芋泥，少糖</a></li>
              </ul>
        
              <div class="more">
                <span class="text">查看更多</span>
                <span class="right-icon"></span>
              </div>
            </div>

            <div class="ranking">
              <div class="title">
                <div class="name">优惠券</div> 
              </div>

              <div class="flower">
                <div class="fl-info">
                  <div>
                    <div class="fl-info-text">已经优惠了 <b>287</b> 元</div>
                    <div class="fl-info-btn">立即领券</div>
                  </div>
                  <div class="fl-info-avatar"></div>
                </div>
                <div class="fl-rule">
                  可通过转盘获得免单机会，抽的越多获得免单概率越大！
                </div>
                <div class="fl-ranking">
                  本周还有 <b>3</b>次抽奖机会
                  <a href="#">去看看?</a>
                </div>
              </div>
            </div>
    
            <div class="relation"></div>
          </div>
    
          <div class="main-right">
            <div class="works">
              <div class="title">我的订单</div>
              <ul class="work-list">
                <li class="item">
                  <div class="cover">
                    <img
                      src="./images/1/yuni.png"
                      alt=""
                    />
                  </div>
                  <div class="info">
                    <div class="info-title">芋泥奶绿</div>
                    <div class="text">多芋泥，少糖</div>
                    <div class="text">154人已购买</div>
                    <div class="option">
                      <a href="">￥17.00</a>
                      <em></em>
                      <a href="">派送中</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="cover">
                    <img
                      src="./images/1/zhenzhu.png"
                      alt=""
                    />
                  </div>
                  <div class="info">
                    <div class="info-title">珍珠奶茶</div>
                    <div class="text">少糖</div>
                    <div class="option">
                      <span class="praised-icon"></span>
                      <a href="">14</a>
                      <em></em>
                      <a href="">已买过</a>
                    </div>
                  </div>
                </li>
              </ul>
    
              <div class="more">
                <span class="text">查看更多</span>
                <span class="right-icon"></span>
              </div>
            </div>
    
            <div class="messages">
              <div class="message">
                <div class="title">猜你喜欢</div>
                <div class="message-core">
                  <div class="detail">
                    <div class="text">
                      <span>🥤芒果奶昔</span>
                    </div>
                    <div class="detail-core">
                      <div class="text">
                        内含大量芒果果肉，奶味浓厚，还有脆啵啵，多种口感，直击你味蕾
                        <span class="heart-icon"></span>
                      </div>
                      <div class="pic-list">
                        <img
                          src="./images/1/pic1.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic2.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic3.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic4.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic5.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic6.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic7.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic8.jpg"
                          alt=""
                        />
                        <img
                          src="./images/1/pic9.jpg"
                          alt=""
                        />
                      </div>
    
                      
    
            </div>
          </div>
        </main>
      </div>
     
  </body>
</html>
