<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtc.ecommerce_demo.mapper.ProductMapper">

    <insert id="insert" parameterType="com.qtc.ecommerce_demo.entity.Product"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (name, description, price, stock, category, image_url, status)
        VALUES (#{name}, #{description}, #{price}, #{stock}, #{category}, #{imageUrl}, #{status})
    </insert>

    <update id="update" parameterType="com.qtc.ecommerce_demo.entity.Product">
        UPDATE product
        SET name = #{name},
            description = #{description},
            price = #{price},
            stock = #{stock},
            category = #{category},
            image_url = #{imageUrl},
            status = #{status}
        WHERE id = #{id}
    </update>

</mapper>