.container main .main-right {
  flex: 1;
}
.container main .main-right .works {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px;
}
.container main .main-right .works .title {
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 0 16px;
}
.container main .main-right .works .work-list {
  border-top: 1px solid #f2f2f5;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 6px;
  display: flex;
  justify-content: space-between;
  font-size: 0;
}
.container main .main-right .works .work-list .item {
  display: flex;
}
.container main .main-right .works .work-list .item .cover {
  position: relative;
}
.container main .main-right .works .work-list .item .cover img {
  width: 142px;
  height: 142px;
}
.container main .main-right .works .work-list .item .cover .play-icon {
  width: 26px;
  height: 28px;
  position: absolute;
  bottom: 14px;
  right: 10px;
  background: url(../images/play-icon.png) no-repeat center/contain;
}
.container main .main-right .works .work-list .item .info {
  width: 149px;
  box-sizing: border-box;
  background: #f2f2f5;
  position: relative;
  padding: 8px 10px 9px;
}
.container main .main-right .works .work-list .item .info .info-title {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}
.container main .main-right .works .work-list .item .info .text {
  font-size: 12px;
  color: #808080;
}
.container main .main-right .works .work-list .item .info .option {
  position: absolute;
  bottom: 9px;
  right: 9px;
  display: flex;
  align-items: center;
}
.container main .main-right .works .work-list .item .info .option .praised-icon {
  width: 12px;
  height: 13px;
  background: url(../images/praised.png) no-repeat center/contain;
  display: inline-block;
  margin-right: 4px;
}
.container main .main-right .works .work-list .item .info .option a {
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.container main .main-right .works .work-list .item .info .option em {
  border-left: 1px solid #d9d9d9;
  height: 14px;
  margin: 0 7px;
}
.container main .main-right .works .more {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container main .main-right .works .more .text {
  font-size: 12px;
  color: #333;
  margin-right: 4px;
}
.container main .main-right .works .more .right-icon {
  width: 4px;
  height: 7px;
  background: url(../images/arrow-right.png) no-repeat center/contain;
}

.container main .main-right .messages .message {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px;
}
.container main .main-right .messages .message .message-core {
  display: flex;
  padding: 25px 28px 6px;
}
.container main .main-right .messages .message .message-core .avatar {
  flex: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: url(../images/avatar.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-core .detail {
  flex: 1;
  margin-left: 15px;
}
.container main .main-right .messages .message .message-core .detail .info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.container main .main-right .messages .message .message-core .detail .info .username {
  font-size: 14px;
  color: #333333;
  margin-right: 2px;
}
.container main .main-right .messages .message .message-core .detail .info .v-square-icon {
  width: 16px;
  height: 16px;
  background: url(../images/v-square.png) no-repeat center/contain;
  margin-right: 4px;
}
.container main .main-right .messages .message .message-core .detail .info .level-icon {
  width: 16px;
  height: 16px;
  background: url(../images/level.png) no-repeat center/contain;
  margin-right: 4px;
}
.container main .main-right .messages .message .message-core .detail .info .flag-icon {
  width: 16px;
  height: 16px;
  background: url(../images/flag.png) no-repeat center/contain;
  margin-right: 4px;
}
.container main .main-right .messages .message .message-core .detail .info .panda-icon {
  width: 16px;
  height: 16px;
  background: url(../images/panda.png) no-repeat center/contain;
  margin-right: 4px;
}
.container main .main-right .messages .message .message-core .detail .info .v-blue-icon {
  width: 16px;
  height: 16px;
  background: url(../images/v-blue.png) no-repeat center/contain;
  margin-right: 4px;
}
.container main .main-right .messages .message .message-core .detail .text {
  margin-bottom: 3px;
  font-size: 12px;
  color: #808080;
}
.container main .main-right .messages .message .message-core .detail .detail-core .text {
  margin-bottom: 0;
  line-height: 23px;
  font-size: 14px;
  color: #333333;
}
.container main .main-right .messages .message .message-core .detail .detail-core .text a {
  font-size: 14px;
  color: #eb7350;
  text-decoration: none;
}
.container main .main-right .messages .message .message-core .detail .detail-core .text .heart-icon {
  vertical-align: -4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/heart-3d.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-core .detail .detail-core .pic-list {
  font-size: 0;
  width: 350px;
}
.container main .main-right .messages .message .message-core .detail .detail-core .pic-list img {
  width: 110px;
  height: 110px;
  margin: 5px 5px 0 0;
}
.container main .main-right .messages .message .message-core .detail .detail-core .fresh-news {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.container main .main-right .messages .message .message-core .detail .detail-core .fresh-news .fresh-news-icon {
  width: 16px;
  height: 18px;
  margin-right: 6px;
  background: url(../images/fresh-news.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-core .detail .detail-core .fresh-news .text {
  margin-top: 2px;
  font-size: 12px;
  color: #eb7350;
  line-height: unset;
}
.container main .main-right .messages .message .message-option {
  height: 39px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f5;
}
.container main .main-right .messages .message .message-option .item {
  flex: 1;
  height: 22px;
  border-right: 1px solid #d9d9d9;
}
.container main .main-right .messages .message .message-option .item:last-child {
  border: none;
}
.container main .main-right .messages .message .message-option .item > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #808080;
  text-decoration: none;
}
.container main .main-right .messages .message .message-option .item > a:hover {
  color: #eb7350;
}
.container main .main-right .messages .message .message-option .item [class$=-icon] {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}
.container main .main-right .messages .message .message-option .item .star-icon {
  background: url(../images/star-line.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-option .item .share-icon {
  background: url(../images/share-line.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-option .item .repeat-icon {
  background: url(../images/repeat-line.png) no-repeat center/contain;
}
.container main .main-right .messages .message .message-option .item .praised-icon {
  background: url(../images/praised-line.png) no-repeat center/contain;
}/*# sourceMappingURL=right.css.map */